
			body, div, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;} 
			.s6Container {width: 100%;}
			.s6Box {width: 960px; margin: 0 auto;}
			.s6Box1 {width: 100%;}
			.s6Box3 {width: 100%;}
			.s6Box3a {width: 33%; display: inline-block;}
			.s6Box3b {width: 33%; display: inline-block;}
			.s6Box3c {width: 33%; display: inline-block;}

			.myIcoContainer {height: 220px;} 
			.myIcoLine {border: 6px solid #A6DF43; width: 102px; height: 102px; margin: 0 auto; background-color: #FFF; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; -khtml-border-radius: 100%;}
			.myIco {border: 6px solid #FFF; width: 90px; height: 90px; margin: 0 auto; background-color: #A6DF43; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; -khtml-border-radius: 100%;}
			.myIco img {margin: 20px 0;}
			.myIcoTitle {margin: 10px 0; font-size: 20px;}
			.myIcoDescription {font-size: 14px;}

			#myImgOilCollection {float: left; margin: 0 10px 10px 0;}
			#myImgRecycle {float: right; margin: 0 0 10px 10px;}
			#myImgStartNow {margin: 50px 0 30px 0; width: 200px;}
			.myImg100 {width: 100%;}
			.myImg75 {width: 75%; max-width: 590px;} 
			.myWid100Mar0Aut {width: 100%; margin: 0 auto; text-align: center;}


ul.mainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.mainNav li {
    float: left;
}

ul.mainNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.mainNav li a:hover {
    background-color: #111;
}

			.s6BoxContent {width: 90%; margin: 0 auto;}

			.mybox1 {font-family: 'Open Sans', sans-serif; font-weight: 400; text-align: center; color: #FFFFFF; background:#333333 url(http://ecorecycle.premiumcoding.com/wp-content/uploads/2013/12/background-recycle-icon1.png) 50% 0;background-size:cover; padding:57px 0 57px 0;}
			.mybox2 {font-family: 'Open Sans', sans-serif; font-weight: 400; text-align: center; color: #333333; background:#FFFFFF; padding:27px 0 67px 0;}
			.mybox3 {font-family: 'Open Sans', sans-serif; font-weight: 400; text-align: center; color: #FFFFFF; background:#333333 url(http://ecorecycle.premiumcoding.com/wp-content/uploads/2013/12/background-recycle-icon1.png) 50% 0;background-size:cover; padding:57px 0 57px 0;}
			.mybox4 {font-family: 'Open Sans', sans-serif; font-weight: 400; text-align: left; color: #333333; background:#FFFFFF; padding:27px 0 67px 0;}
			.mybox5 {font-family: 'Open Sans', sans-serif; font-weight: 400; text-align: center; color: #FFFFFF; background:#fff url(http://ecorecycle.premiumcoding.com/wp-content/uploads/2013/12/quote-background-eco.jpg) 50% 0;background-size:cover;border-top:0px solid #fff;border-bottom:0px solid #fff;padding:100px 0 120px 0; padding:87px 0 87px 0;}

			.myboxTop {}
			.myboxNav {font-family: 'Open Sans', sans-serif; font-weight: 300; text-align: center; color: #FFFFFF; background-color: #333333;}
			
			.myVid {float: left; text-align: left; width: 50%; margin-bottom: 15px;}
 
			.arrowDown {margin: 0 auto; width: 0; height: 0; border-left: 50px solid transparent; border-right: 50px solid transparent; border-top: 50px solid #333333;}

			.contentBig {font-size: 32px !important; line-height: 110%; color: #333333;}
			.fontBig {font-size: 32px !important; line-height: 110%; color: #FFFFFF;}
			.fontSmall {font-size: 14px;}
			.fontBold {font-weight: bold;}
			.saver6Button { margin-top: 10px; background-color:transparent; -moz-border-radius:28px; -webkit-border-radius:28px; border-radius:28px; border:1px solid #FFFFFF; display:inline-block; cursor:pointer; color:#ffffff; font-family:'Open Sans'; font-size:17px; padding:16px 31px; text-decoration:none; }
			.saver6Button:hover { background-color:transparent; }
			.saver6Button:active { position:relative; top:1px; }


			.sliderBig {font-family: 'Oswald', sans-serif; font-weight: 700; font-size: 60px; text-transform: uppercase;}
			.sliderSmall {font-family: 'Oswald', sans-serif; font-weight: 300; font-size: 20px;}

			.fontGreen {color: #93BE55;}

			.swiper-container{width:100%;height:380px}.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}#lab_video_text_overlay h2{font-size:4em}#lab_video_text_overlay .btn{border-radius:0;text-transform:uppercase;font-weight:200}#lab_video_text_overlay .btn-warning{background-color:#F5D328}#lab_video_text_overlay{background-color: rgba(0,0,0,.75); padding-top: 80px; position:absolute;color: #fff;width:100%; height: 100%; bottom-top:25px}#lab_video_text_overlay .container{text-align:center;margin:0 auto}@media screen and (max-width:991px){#lab_video_text_wrap{height:200px}}@media screen and (max-width:650px){#lab_video_text_wrap{height:150px}#lab_video_text_overlay h2{font-size:2em}#lab_video_text_overlay p{font-size:.9em}}

			@media screen and (min-width:320px) and (max-width: 479px)  { 
				.s6Box {width: 100%;}	
				.s6Box3a {display: block; width: 100%;}
				.s6Box3b {display: block; width: 100%;}
				.s6Box3c {display: block; width: 100%;}

				.myVid {float: none; width: 100%; margin-bottom: 15px;}

				.myIcoTitle {font-size: 14px;}
				.myIcoDescription {font-size: 12px;}

				.fontBig {font-size: 18px !important;}
				.fontSmall {font-size: 10px;}  
				.contentBig {font-size: 18px !important;}

				.sliderBig {font-size: 18px;}
				.sliderSmall {font-size: 12px;}

				#myImgOilCollection {width: 120px;}
				#myImgRecycle {width: 120px;}
				#myImgStartNow {width: 120px;}

				.swiper-container{width:100%;height:200px}
			}

			@media screen and (min-width:480px) and (max-width: 768px)  { 
				.s6Box {width: 100%;}	
				.s6Box3a {display: block; width: 100%;}
				.s6Box3b {display: block; width: 100%;}
				.s6Box3c {display: block; width: 100%;}

				.myVid {float: none; width: 100%; margin-bottom: 15px;}

				.myIcoTitle {font-size: 18px;}
				.myIcoDescription {font-size: 12px;}

				.fontBig {font-size: 36px !important;}
				.fontSmall {font-size: 12px;} 
				.contentBig {font-size: 36px !important;}

				.sliderBig {font-size: 36px;}
				.sliderSmall {font-size: 12px;}

				#myImgOilCollection {width: 170px;}
				#myImgRecycle {width: 170px;}
				#myImgStartNow {width: 170px;}

				.swiper-container{width:100%;height:220px}
			}